# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/Ajax/Ajax/nbproject/private/
/HTML5Code/HTML5Code/nbproject/private/
/Bootstrap/Bootstrap/nbproject/private/
/JQuery/JQuery/nbproject/private/